* {
  box-sizing: border-box;
}

.app {
  border: 1px solid black;
  margin: auto;
  max-width: 31.25rem;
}

.heading {
  text-align: left;
}

.song {
  background: black;
  border-radius: .625rem;
  color: white;
  font-family: cursive;
  height: 18.75rem;
  margin: .3125rem;
  padding: 2.1875rem 1.25rem;
  position: relative;
}

.song::after,
.song::before {
  background: gray;
  border-radius: 100%;
  content: "";
  display: block;
  font-size: 4.375rem;
  height: 4.375rem;
  line-height: 4.375rem;
  outline: .3125rem solid black;
  position: absolute;
  text-align: center;
  top: calc(50% - 2.1875rem);
  width: 4.375rem;
  box-shadow: 0 0 .3125rem .625rem lightgray;
  z-index: 2;
}

.song::after {
  left: 25%;
}

.song::before {
  right: 25%;
}

.contents {
  background: white;
  color: black;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.contents::after,
.contents::before {
  content: "☰";
  position: absolute;
  color: lightgray;
  right: calc(50% - 1.5625rem);
  font-size: 3.125rem;
  opacity: 0.5;
  transform: scaleX(1500%);
}

.contents::after {
  bottom: 0;
}

.contents::before {
  top: 0;
}

.details,
.name {
  position: relative;
}

.name {
  align-items: center;
  border-radius: .625rem;
  display: flex;
  font-size: 2.1875rem;
  font-weight: bold;
  height: 30%;
  justify-content: center;
  line-height: 2.1875rem;
  margin: 0 10%;
  text-align: center;
  text-shadow: 0 0 .1875rem white, 0 0 .3125rem white, 0 0 .625rem white;
}

.details {
  bottom: 0;
  padding: .3125rem .625rem;
  position: absolute;
  text-shadow: 0 0 .125rem white, 0 0 .25rem white;
}

.artist {
  font-weight: bold;
  text-align: left;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.genre {
  text-transform: capitalize;
}

.genre::after {
  content: ",";
  margin-right: 0.5em;
}

.artist,
.genre,
.year {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
}

.controls {
  border-radius: .625rem;
  border: .0625rem solid gray;
  display: flex;
  flex-direction: row;
  gap: .625rem;
  justify-content: stretch;
  margin: .625rem .3125rem;
  padding: .625rem;
}

.controls :button,
.controls select {
  background: black;
  border: .1875rem solid gray;
  color: white;
  cursor: pointer;
  font-size: .9375rem;
  font-weight: bold;
  padding: .3125rem .625rem;
  width: 100%;
}
